__pycache__/
.vscode
augmented
Images
Images1
test
unique_images
failed
zero_contamination
FailedImages
Images1 - Copy
ImagesWithDimensions
ImagesWithDimensions - Copy
masks
masks_grayscale - Copy
ResizeDataset
WholeDataset - Copy
with quotation
bc.txt

